<template>
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav>
    <div class="nav-wrapper">
       <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <a href="#" class="brand-logo">Vuejs-shop</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Home</a></li>
        <li><a href="badges.html">Catagories</a></li>
        <li><a href="collapsible.html">Contract Us</a></li>
        <li><a href="collapsible.html">About</a></li>
        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
     <li><a href="sass.html"><i class="material-icons">shopping_cart</i></a></li>
      </ul>
    </div>
  </nav>
      </template>
<style scoped>
.row {
  border: 1px solid gray;
  vertical-align: middle;
}

.nav {
  justify-content: right;
}

.nav li {
  display: inline;
  margin-left: 20px;
}
</style>


