<template class="body">
  <div ref="sidenavElement" class="sidenav sidenav-fixed">
    <ul ref="menu">
      <li :class="router.currentRoute.value.path == '/dashboard' ? 'list active' : 'list'">
        <a href="/dashboard">
          <span class="icon">
            <i class="material-icons">home</i>
          </span>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li :class="router.currentRoute.value.path == '/profile' ? 'list active' : 'list'">
        <a href="/profile">
          <span class="icon">
            <i class="material-icons">person</i>
          </span>
          <span class="title">Profile</span>
        </a>
      </li>
      <li :class="router.currentRoute.value.path == '/message' ? 'list active' : 'list'">
        <a href="/message">
          <span class="icon">
            <i class="material-icons">message</i>
          </span>
          <span class="title">Messages</span>
        </a>
      </li>
      <li :class="router.currentRoute.value.path == '/product' ? 'list active' : 'list'">
        <a href="/product">
          <span class="icon">
            <i class="material-icons">storage</i>
          </span>
          <span class="title">Product</span>
        </a>
      </li>
      <li :class="router.currentRoute.value.path == '/settings' ? 'list active' : 'list'">
        <a href="/settings">
          <span class="icon">
            <i class="material-icons">settings</i>
          </span>
          <span class="title">Settings</span>
        </a>
      </li>
      <li :class="router.currentRoute.value.path == '/help' ? 'list active' : 'list'">
        <a href="/help">
          <span class="icon">
            <i class="material-icons">help_outline</i>
          </span>
          <span class="title">Help</span>
        </a>
      </li>
      <li :class="router.currentRoute.value.path == '/api/auth/logout' ? 'list active' : 'list'">
        <a href="/api/auth/logout">
          <span class="icon">
            <i class="material-icons">chevron_left</i>
          </span>
          <span class="title">Log Out</span>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
import { defineComponent, onMounted, ref } from 'vue';
import router from '../router';

export default defineComponent({
  setup() {
    let sidenavElement = ref();

    onMounted(() => {
      let el = sidenavElement.value;
      M.Sidenav.init(el, {
        preventScrolling: false
      });
    });

    const toggle = () => {
      let instance = M.Sidenav.getInstance(sidenavElement.value);
      if (instance.isOpen) instance.close();
      else instance.open();
    };

    return {
      router,
      sidenavElement,
      toggle
    };
  }
});
</script>

<style>
.sidenav {
  position: fixed;
  height: 100%;
  box-sizing: initial;
  background-color: rgb(41, 139, 191);
  transition: transform 0.6s ease;
  background: linear-gradient(to bottom, rgb(41, 139, 191) 10%, rgb(32, 85, 159));
  z-index: 1;
}

.sidenav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 64px;
  margin: 0;
}

.sidenav ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  transition: 0.4s;
}

.sidenav ul li:hover {
  background-color: rgb(32, 85, 159);
}

.sidenav ul li.active {
  background: #fff;
}

.sidenav ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}

.sidenav ul li.active a {
  color: #333;
}

.sidenav ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
  text-align: center;
  font-size: 1.5em;
}

.sidenav ul li a .title {
  position: relative;
  display: block;
  padding-left: 10px;
  height: 60px;
  line-height: 60px;
  white-space: normal;
}
</style>
