<template>
  <button @click="toggleSidebar()" class="toggle">
    <a class="material-icons">menu</a>
  </button>
  
  <Sidebar v-if="sidebarVisible"/>

  
  <main id="main">
    <div class="content">
      <a href="#" data-target="slide-out">

      </a>
      <div class="top-navbar">

      </div>
      <h1>This is Add product page.</h1>
      <div class="addProductPanel">
        <h3 class="addProductTitle">Add Product</h3>
        <div class="addProductDetailBox">
          <div class="addProductDetailBoxLeft">
            <div>
              <label class="labelAddProduct">Product Name:</label>
              <input class="inputBox" id="productName" type="text" v-model="productName" @keyup="productNameKeyUp"/>
            </div>
              
            <div>
              <label class="labelAddProduct">Description:</label>
              <input class="inputBox" id="productDescription" type="text" v-model="productDescription" @keyup="productDescriptionKeyUp"/>
            </div>
              
            <div> 
              <label class="labelAddProduct">Price: </label>
              <input class="inputBox" id="productPrice" type="number" v-model="productPrice" @keyup="productPriceKeyUp"/>
            </div>

            <div>
              <label class="labelAddProduct">Inventory:</label>
              <input class="inputBox" id="productInventory" type="number" v-model="productInventory" @keyup="productInventoryKeyUp"/>
            </div>
          </div>
          <div>
            <button ref="addProductButton" type="submit" class="submitButton" v-on:click="addProductButtonClicked">ADD PRODUCT</button>
            <button type="submit" class="submitButton" v-on:click="cancelButton()">CANCEL</button>
          </div>
        </div>
      </div>
    </div>


  </main>
</template>

<script>
import { defineComponent, watch, ref, toRaw } from 'vue';
import router from '../router';
import { state } from '../stores/global';
import axios from 'axios';
import Sidebar from '../components/Sidebar.vue';


export default defineComponent({
  components: {
    Sidebar
  },

  

  setup() {
    let sidebarVisible = ref(false);
    
    const rawId = toRaw(state);
    const productName = ref('');
    const productDescription = ref('');
    const productPrice = ref('');
    const productInventory = ref('');
    const owner_id =('');
    const errorMsg = ref('');
    
    const toggleSidebar = ev => {
      sidebarVisible.value = !sidebarVisible.value
    }

    const addProductButtonClicked = ev => {
      const owner_id = (rawId.user.id);
      const params = {
        name: productName.value,
        description: productDescription.value,
        price: productPrice.value,
        inventory: productInventory.value,
        owner_id: owner_id,
      };

      axios
        .post('/api/products/', params)
        .then(res => {
          var { error, data } = res.data;
          if (error) {
            if (error.includes('some error')) error = 'System not support.';
            return (errorMsg.value = error);
          }
                  
        })
        .catch(err => {
          (errorMsg.value = err.message)
          console.log(err)
        });      
    }

    const cancelButton = ev => {
      router.push('/dashboard');
    };


    const productNameKeyUp = ev => {
      if (ev.key == 'Enter') addProductButtonClicked(ev);      
    };

    const productDecriptionKeyUp = ev => {
      if (ev.key == 'Enter') addProductButtonClicked(ev);      
    };

    const productPriceKeyUp = ev => {
      if (ev.key == 'Enter') addProductButtonClicked(ev);      
    };

    const productInventoryKeyUp = ev => {
      if (ev.key == 'Enter') addProductButtonClicked(ev);      
    };

    return {
      state,
      sidebarVisible,
      toggleSidebar,
      productName,
      productDescription,
      productPrice,
      productInventory,
      owner_id,
      errorMsg,
      cancelButton,
      addProductButtonClicked,
      productNameKeyUp,
      productDecriptionKeyUp,
      productPriceKeyUp,
      productInventoryKeyUp,
      
    };
  }
});
</script>

<style>
/* styling buttons */

.submitButton {
  background-color: rgb(56, 134, 162);
  color: rgb(255, 255, 255);
  font-size: 400;
  font-style: bold;
  height: 50px;
  width: 120px;
  border: none;
  border-radius: 10px;
  margin: 20px;
  transition: 0.15s;
  cursor: pointer;
}

.submitButton:hover {
  background-color: rgb(56, 134, 162);
  opacity: 0.8;
}

.submitButton:active{
  background-color: rgb(32, 85, 159);
  opacity: 1;
}

.labelAddProduct {
  font-size: 20px;
  font-weight: 700;
}



</style>