<template>
  <div>
    <div class="card center">
      <div class="card-content">
        <div class="input-field">
          <input id="first_name" type="text" v-model="first_name" @keyup="firstnameKeyup" />
          <label for="first_name">First name</label>
        </div>

        <div class="input-field">
          <input id="last_name" type="text" v-model="last_name" @keyup="lastnameKeyup" />
          <label for="last_name ">Last name</label>
        </div>

        <div class="input-field">
          <input id="Email" type="text" v-model="email" @keyup="emailKeyup" />
          <label for="Email">Email</label>
        </div>

        <div class="input-field">
          <input id="phoneNumber" type="text" v-model="phoneNumber" @keyup="phoneNumberKeyup" />
          <label for="phoneNumber">Phone number</label>
        </div>

        <div class="input-field">
          <input id="password" type="password" v-model="password" @keyup="passwordKeyup" />
          <label for="password">Password</label>
        </div>

        <p class="color-red left" v-if="errorMsg != ''">Error: {{ errorMsg }}</p>

        <a ref="createButton" class="waves-effect waves-light btn submit-btn" disabled v-on:click="createButtonClicked">
          create
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent, ref, watch } from 'vue';
import router from '../router';
import axios from 'axios';
import { state, updateUser } from '../stores/global';

export default defineComponent({
  setup() {
    const first_name = ref('');
    const last_name = ref('');
    const email = ref('');
    const phoneNumber = ref('');
    const password = ref('');
    const errorMsg = ref('');
    const createButton = ref(null);

    watch(email, (newVal, oldVal) => {
      disableCreateButton();
    });

    watch(phoneNumber, (newVal, oldVal) => {
      disableCreateButton();
    });

    watch(password, (newVal, oldVal) => {
      disableCreateButton();
    });

    // If user tries to go to /login when he's already logged in
    // we need to redirect him to /dashboard.
    //
    // How do we have state.user? Check App.vue.
    watch(
      () => state.user,
      (newVal, oldVal) => {
        console.log(state.user);
        if (state.user) return router.push('/dashboard');
      }
    );

    const createButtonClicked = ev => {
      const params = {
        first_name: first_name.value,
        last_name: last_name.value,
        email: email.value,
        phone: phoneNumber.value,
        password: password.value,
      };

      axios
        .post('/api/users/', params)
        .then(res => {
          var { error, data } = res.data;

          // Is there an error? If so, display it.
          if (error) {
            if (error.includes('users_email_key')) error = 'Email/Phone already exists.';

            return (errorMsg.value = error);
          }
          updateUser(data);
          router.push('/dashboard');
        })
        .catch(err => (errorMsg.value = err.message));
    };

    const disableCreateButton = () => {
      // NOTE: disabled attribute is added into the button's
      // HTMLElement if the button is disabled.
      //
      // This prevents the users to click on the Login button
      // when there are no username/password provided.
      //
      // We can remove the disabled attribute if we want to
      // enable again.
      if (email.value != '' && password.value != '') createButton.value.removeAttribute('disabled');
      else createButton.value.setAttribute('disabled', true);
    };

    const firstnameKeyup = ev => {
      if (ev.key == 'Enter') createButtonClicked(ev);
    };

    const lastnameKeyup = ev => {
      if (ev.key == 'Enter') createButtonClicked(ev);
    };

    const emailKeyup = ev => {
      if (ev.key == 'Enter') createButtonClicked(ev);
    };
    const phoneNumberKeyup = ev => {
      if (ev.key == 'Enter') createButtonClicked(ev);
    };

    const passwordKeyup = ev => {
      if (ev.key == 'Enter') createButtonClicked(ev);
    };
    return {
      first_name,
      last_name,
      email,
      phoneNumber,
      password,
      errorMsg,
      createButton,
      createButtonClicked,
      firstnameKeyup,
      lastnameKeyup,
      emailKeyup,
      phoneNumberKeyup,
      passwordKeyup,
    };
  },
});
</script>

<style scoped>
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  width: 30%;
}

.card-title {
  font-size: 30px;
  font-weight: bold;
}

.submit-btn {
  width: 100%;
}

.color-red {
  color: red;
}
</style>
