<template>
  <div class="top-navbar">
    <button @click="toggleSidebar()" class="toggle">
      <a class="material-icons">menu</a>
    </button>
  </div>

  <Sidebar ref="sidebarComponent" />

  <div ref="contentElement" class="content">
    <div class="wrapper">
      <h1 style="margin-top: 0;">This is Dashboard page.</h1>

      <p v-if="state.user">
        <span>Logged in user: </span>
        <span>{{ state.user.email }}</span>
      </p>
      <a href="/api/auth/logout">Logout</a>
    </div>
  </div>
</template>

<script>
import { defineComponent, watch, ref, onMounted } from 'vue';
import router from '../router';
import { state } from '../stores/global';
import Sidebar from '../components/Sidebar.vue';

export default defineComponent({
  components: {
    Sidebar
  },

  setup() {
    let contentElement = ref();
    let sidebarComponent = ref();

    const toggleSidebar = ev => {
      sidebarComponent.value.toggle();

      const { sidenavElement } = sidebarComponent.value;

      let instance = M.Sidenav.getInstance(sidenavElement);
      if (instance.isOpen) contentElement.value.style['padding-left'] = '300px';
      else contentElement.value.style['padding-left'] = '0';
    };

    watch(
      () => state.user,
      (newVal, oldVal) => {
        if (!state.user) return router.push('/login');
      }
    );

    return {
      state,
      toggleSidebar,
      contentElement,
      sidebarComponent
    };
  }
});
</script>

<style scoped>
.toggle {
  height: 50px;
  width: 50px;
  background: rgb(41, 139, 191) 10%;
  border-radius: 10px;
  border-style: none;
  cursor: pointer;
  color: white;
  font-weight: 400;
  transition: 0.2s;
  margin: 5px 0 0 40px;
}

.toggle a {
  color: white;
  transition: 0.1s;
}

.toggle:hover {
  background-color: rgb(32, 85, 159);
}

.content {
  padding-top: 64px;
  padding-left: 300px;
  transition: padding 0.6s ease;
  position: absolute;
}

.content .wrapper {
  padding: 20px;
}

.top-navbar {
  top: 0;
  height: 64px;
  background: rgb(41, 139, 191) 10%;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.top-navbar > a > i {
  color: white;
  font-size: 50px;
}

.top-navbar .sidenav-trigger {
  display: none;
}

@media only screen and (max-width: 992px) {
  .content {
    padding-left: 0;
  }

  .top-navbar .sidenav-trigger {
    display: unset;
  }
}
</style>
